/* Move down content because we have a fixed navbar that is 3.5rem tall */

.custom-bg {
  background-color: rgba(19, 28, 79, 1) !important;
}

.logo-img {
  width: 130px;
  height: auto;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

table td {
  font-size: 15px;
  text-align: center;
}

.annual th, .annual td {
  width: 7%;
}

/* grid data */
.card {
  padding: 15px;
}

#columnHeaders {
  border-collapse: collapse;
  text-align: center;
  font-size: 14px;
} 

@media only screen and (max-width:1144px) {
/* CSS for screens that are 1144 pixels (phones, tablets, etc.) */
  .bottomTable{
    padding-left: 1.5%;
  }
  #columnHeaders{
    padding-left: 20px;
  }
}

.btn {
  background-color: #99eaff;
  color: #000000;
}

.btn:hover {
  color: #fff;
  background-color: #404040;
}

.btn-active {
  background: #404040;
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

#legend {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#cryptolegend {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
}

.title {
  /*font-size: 10px;*/
  font-weight: bolder;

}

.tooltip {
  display:inline-block;
  position:relative;
  border:1px solid #666;
  text-align: center;
  padding:0.5rem;
  opacity: 1;
  margin: 4px;
  border-radius: 10px !important;
  width: 100%;
  font-weight: 600;
}

.tooltip .top {
  min-width:200px;
  max-width:400px;
  top:-20px;
  left:50%;
  transform:translate(-30%,-100%);
  padding:10px 20px;
  color:#ffffff;
  background-color:#009cdc;
  font-weight:normal;
  font-size:14px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;
}


.tooltip:hover .top {
  display:block;
}

.tooltip .top i {
  position:absolute;
  top:100%;
  left:30%;
  margin-left:-15px;
  width:30px;
  height:15px;
  overflow:hidden;
}

.tooltip .top i::after {
  content:'';
  position:absolute;
  width:15px;
  height:15px;
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  background-color:#009cdc;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.tm-img {
  width: 25%;
}

@media (min-width: 1200px) {
  .tooltip {
    padding: 0.5rem !important;
    font-size: 15px !important; 
  }

  .title {
    font-size: 35px !important;
  }

}

@media (min-width: 992px) {
  .tooltip {
    padding: 0.4rem;
    font-size: 14px;
  }

  .title {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 15px;
  }
  .grid {
    height: 350px;
  }
}

@media (min-width: 301px) {
  .tooltip {
    padding: 0.2rem;
    font-size: 11px;
  }
}

@media (max-width: 300px) {
  .tooltip {
    padding: 0.1rem;
    font-size: 10px;
  }

  .title {
    font-size: 10px;
  }
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin: 0px 0 0 -45px;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}