/* Move down content because we have a fixed navbar that is 3.5rem tall */

.custom-bg {
  background-color: rgba(19, 28, 79, 1) !important;
}

.logo-img {
  width: 130px;
  height: auto;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

table {
  width: 97% !important;
  margin: auto;
}
table td {
  font-size: 15px;
  text-align: center;
}

.annual th, .annual td {
  width: 7%;
}

button {
  text-transform: uppercase;
}

/* grid data */
.card {
  padding: 15px;
}

#columnHeaders {
  border-collapse: collapse;
  text-align: center;
  font-size: 14px;
} 

@media only screen and (max-width:1144px) {
/* CSS for screens that are 1144 pixels (phones, tablets, etc.) */
.bottomTable{
  padding-left: 1.5%;
}
#columnHeaders{
  padding-left: 20px;
}
}

#legend {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cryptolegend {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
}

.tooltip {
  display:inline-block;
  position:relative;
  border:1px solid #666;
  text-align: center;
  padding:0.5rem;
  opacity: 1;
  margin: 4px;
  border-radius: 10px;
  width: 100%;
  font-weight: 600;
}

.tooltip .top {
  min-width:200px;
  max-width:400px;
  top:-20px;
  left:50%;
  transform:translate(-30%,-100%);
  padding:10px 20px;
  color:#ffffff;
  background-color:#009cdc;
  font-weight:normal;
  font-size:14px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;
}


.tooltip:hover .top {
  display:block;
}

.tooltip .top i {
  position:absolute;
  top:100%;
  left:30%;
  margin-left:-15px;
  width:30px;
  height:15px;
  overflow:hidden;
}

.tooltip .top i::after {
  content:'';
  position:absolute;
  width:15px;
  height:15px;
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  background-color:#009cdc;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
 